@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,600,600i&display=swap");

:root {
  --primary-color-desa-red: hsl(0, 36%, 70%);
  --primary-color-soft-red: hsl(0, 93%, 68%);
  --neutral-color-dark-grayred: hsl(0, 6%, 24%);

  --gradients-linear-1: linear-gradient(
    135deg,
    hsl(0, 0%, 100%),
    hsl(0, 100%, 98%)
  );
  --gradients-linear-2: linear-gradient(
    135deg,
    hsl(0, 80%, 86%),
    hsl(0, 74%, 74%)
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
}

body {
  /* background-image: url("../images/bg-pattern-desktop.svg");  
  background-repeat: no-repeat;
  background-size: cover; */
}

.header {
  grid-area: header;
  padding: 1.8em;
  margin: 0 auto;
}

.header img {
  width: 120px;
}

.hero-image {
  grid-area: image;
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
  object-fit: cover;
}

.hero-image img {
  width: 100%;
}

.hero-content {
  grid-area: hero;
  background-image: var(--gradients-linear-1);
  padding: 2em;
  text-align: center;
}

h1 {
  max-width: 420px;
  margin: 0 auto;
  letter-spacing: 0.2em;
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--neutral-color-dark-grayred);
}

h1 span {
  display: block;
  color: var(--primary-color-desa-red);
  font-weight: 300;
}

.hero-content p {
  max-width: 420px;
  margin: 0 auto;
  color: var(--primary-color-desa-red);
  font-size: 0.9em;
  line-height: 1.5em;
  margin-bottom: 1em;
}

form {
  max-width: 420px;
  margin: 0 auto;
  text-align: initial;
  margin-bottom: 2em;
}

.email {
  display: flex;
  height: 2.6em;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  border-radius: 30px;
  border: 1px solid var(--primary-color-desa-red);
}

.email input {
  margin: 0 0 0 1.8em;
  height: 100%;
  font-size: 0.8em;
  border: none;
  background: none;
  outline: none;

  width: 60%;
}

.image-error {
  display: none;
  margin-left: 0.4em;
  width: 18px;
}

.email button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: inherit;
  border-radius: inherit;
  border: none;
  position: absolute;
  right: 0;
  background: var(--gradients-linear-2);
}

.error-msg {
  display: none;
  margin-left: 2em;
  margin-top: 5px;
  font-size: 0.66em;
  color: var(--primary-color-soft-red);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2.5rem;
  background: hsl(0, 100%, 94%);
  position: sticky;
  top: 0;
  font-size: 0.8em;
  text-align: center;
}

body {
  background-image: url("../images/bg-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.show {
  display: initial;
}

@media screen and (min-width: 1200px) {
  footer {
    display: none;
  }

  html {
    font-size: 20px;
  }

  .header {
    display: flex;
    align-items: center;
    padding: 3em;
    margin: 0;
    text-align: left;
  }

  .header img {
    width: 158px;
  }

  .layout {
    display: grid;
    grid-template-areas:
      "header image"
      "hero image";
    grid-template-columns: 1fr 610px;
    grid-template-rows: 120px 1fr;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
  }

  .hero-content {
    margin-top: 2em;
    background: none;
    text-align: left;
  }

  h1 {
    margin-bottom: 10px;
    font-size: 3.5em;
  }
  .hero-content p {
    font-size: 0.8em;
  }

  .email button {
    width: 90px;
  }

  .hero-image {
    height: 100vh;
    width: 610px;
    content: url("../images/hero-desktop.jpg");
  }

  .email input {
    margin: 0 0 0 1.8em;
  }

  .image-error {
    margin-left: 0.5em;
    width: 24px;
  }
}
